<section id="wrapper" class="login-register" style="position: absolute; height: 100%; overflow-y:auto">
    <div class="registerBox login-shadow add-transparency">
        <div class="white-box">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h1>Resetuj lozinku</h1>

                    <div class="alert alert-danger" *ngIf="keyMissing">
                        <strong>Ključ za aktivaciju lozinke neaktivan</strong>
                    </div>

                    <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                        <p>Izaberi novu lozinku</p>
                    </div>

                    <div class="alert alert-danger" *ngIf="error">
                        <p>Vaša lozinka nije resetovana.
                            Zahtjev za promjenu lozinke je validan 24 sata.</p>
                    </div>

                    <p class="alert alert-success" *ngIf="success">
                        <span><strong>Vaša lozinka je resetovana.</strong> Idi na </span>
                        <a class="alert-link" (click)="login()">prijavu</a>.
                    </p>

                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        Lozinka i potvrda lozinke se ne podudaraju!
                    </div>

                    <div *ngIf="!keyMissing">
                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()"
                              #passwordForm="ngForm">
                            <div class="form-group">
                                <label class="form-control-label" for="password">Nova lozinka</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       #passwordInput="ngModel"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       [(ngModel)]="resetAccount.password" minlength=8 maxlength=50 required>
                                <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                    <small class="form-text text-danger"
                                           *ngIf="passwordInput.errors.required">
                                        Lozinka je potrebna.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordInput.errors.minlength">
                                        Lozinka mora sadržati bar 8 karaktera.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordInput.errors.maxlength">
                                        Lozinka ne može sadržati više od 50 karaktera.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordInput.errors.pattern">
                                        Lozinka treba sadržati bar 1 veliko slovo, 1 malo slovo, 1 specijalni karakter, 1
                                        broj
                                    </small>
                                </div>
                                <app-password-strength-bar
                                        [passwordToCheck]="resetAccount.password"></app-password-strength-bar>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="confirmPassword">Potvrda lozinke</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       [(ngModel)]="confirmPassword" minlength=8 maxlength=50 required>
                                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                    <small class="form-text text-danger"
                                           *ngIf="confirmPasswordInput.errors.required">
                                        Potvrda lozinke je potrebna.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="confirmPasswordInput.errors.minlength">
                                        Potvrda lozinke mora sadržati bar 8 karaktera.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="confirmPasswordInput.errors.maxlength">
                                        Potvrda lozinke ne može sadržati više od 50 karaktera.
                                    </small>
                                </div>
                            </div>
                            <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Resetuj
                                Lozinku
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
