<div class="row">
    <div class="col-md-12">
        <div class="panel-footer p-b-20 p-t-20 m-b-10">
            <i class="glyphicon glyphicon-folder-open m-r-5 heading-icon-at"></i>
            <span class="heading-at">Dokumenti</span>
            <div class="pull-right">
                <button class="btn btn-success button-position-fix"
                        [routerLink]="[{ outlets: { popup: ['add-document'] } }]">
                    Dodaj <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
        <ng-container *ngIf="items$ | async as documents">
            <div class="form-body" *ngIf="documents && documents.length > 0">
                <div class="table-responsive mt-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Opis</th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items$ | async">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td><a (click)="openFile(item);" class="align-middle">Otvori</a></td>
                            <td>
                                <button (click)="deleteItem(item.id)">
                                    <span class="fa fa-fw fa-remove"></span>
                                    <span class="d-none d-md-inline">Izbriši</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>
</div>
