<section id="wrapper" class="login-register" style="position: absolute; height: 100%; overflow-y:auto">
    <div class="registerBox login-shadow add-transparency">
        <div class="white-box">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Prijava na oglas {{vacancyId}}</h1>

                    <div class="alert alert-danger" *ngIf="errorEmailExists">
                        <strong>Email već postoji!</strong>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form name="form" role="form" (ngSubmit)="apply()" #registerForm="ngForm" *ngIf="!success">
                        <div class="form-group">
                            <label class="form-control-label">Ime:</label>
                            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                                   [(ngModel)]="applicant.name" maxlength="50" required>

                            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="firstNameInput.errors.maxlength">
                                    Ime ne može sadržati više od 50 karaktera.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Prezime:</label>
                            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                                   [(ngModel)]="applicant.surname" maxlength="50" required>

                            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="lastNameInput.errors.maxlength">
                                    Prezime ne može sadržati više od 50 karaktera.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"
                                   for="field_birthdate">Datum rođenja:</label>
                            <div class="input-group">
                                <input id="field_birthdate" type="date" class="form-control" name="birthdate"
                                       [(ngModel)]="applicant.birthdate"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" #email="ngModel"
                                   [(ngModel)]="applicant.email" minlength=5 maxlength=100 email required>
                            <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.required">
                                    Email je potreban.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                    Email je nevalidan.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                    Email mora sadržati bar 5 karaktera.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                    Email ne može sadržati više od 50 karaktera.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <app-region-select [lowestLevelId]="applicant.idCity"
                                               (citySelected)="onCitySelected($event)"
                                               [showOnlyCities]="true"></app-region-select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_address">Adresa:</label>
                            <input type="text" class="form-control" name="address" id="field_address"
                                   [(ngModel)]="applicant.address"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"
                                   for="field_phoneNumber">Broj telefona:*</label>
                            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" required
                                   [(ngModel)]="applicant.phoneNumber"/>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label"
                                   for="field_idQualifcation">Stručna sprema:*</label>
                            <select class="form-control" name="idQualifcation" id="field_idQualifcation"
                                    [(ngModel)]="applicant.idQualifcation" required>
                                <option [ngValue]="qualification.id"
                                        *ngFor="let qualification of qualifications$ | async">
                                    {{qualification.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="selectDriversLicence">Vozačka dozvola:</label>
                            <select class="form-control" [(ngModel)]="applicant.driverLicence" id="selectDriversLicence"
                                    name="driverLicence">
                                <option [ngValue]="null">
                                    <div>Nema</div>
                                </option>
                                <option [ngValue]="'A'">
                                    <div>A</div>
                                </option>
                                <option [ngValue]="'B'">
                                    <div>B</div>
                                </option>
                                <option [ngValue]="'C'">
                                    <div>C</div>
                                </option>
                                <option [ngValue]="'D'">
                                    <div>D</div>
                                </option>
                                <option [ngValue]="'E'">
                                    <div>E</div>
                                </option>
                            </select>
                        </div>
                        <hr>

                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_idschool">Škola:*</label>
                            <select name="idschools" id="field_idschool" class="form-control"
                                    [(ngModel)]="school.idSchool" required>
                                <option [ngValue]="item.id" *ngFor="let item of schools$ | async">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_qualification">Postignuta stručna
                                sprema:*</label>
                            <select name="idqualification" required id="field_qualification" class="form-control"
                                    [(ngModel)]="school.idQualifcation">
                                <option [ngValue]="item.id"
                                        *ngFor="let item of qualifications$ | async">{{item.name}}</option>
                            </select>
                        </div>
                        <h3>Radno iskustvo 1</h3>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_company">Kompanija:*</label>
                            <input type="text" class="form-control" name="company" id="field_company"
                                   [(ngModel)]="experience.company" required/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_position">Pozicija:*</label>
                            <input type="text" class="form-control" name="position" id="field_position"
                                   [(ngModel)]="experience.position" required/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_dateFrom">Od:*</label>
                            <div class="input-group">
                                <input id="field_dateFrom" type="date" class="form-control" name="dateFrom"
                                       [(ngModel)]="experience.dateFrom"
                                       required/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_dateTo">Do:</label>
                            <div class="input-group">
                                <input id="field_dateTo" type="date" class="form-control" name="dateTo"
                                       [(ngModel)]="experience.dateTo"/>
                            </div>
                        </div>
                        <h3>Radno iskustvo 2</h3>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_company2">Kompanija:</label>
                            <input type="text" class="form-control" name="company" id="field_company2"
                                   [(ngModel)]="experience2.company"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_position2">Pozicija:</label>
                            <input type="text" class="form-control" name="position" id="field_position2"
                                   [(ngModel)]="experience2.position"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_dateFrom2">Od:</label>
                            <div class="input-group">
                                <input id="field_dateFrom2" type="date" class="form-control" name="dateFrom"
                                       [(ngModel)]="experience2.dateFrom"
                                />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="field_dateTo2">Do:</label>
                            <div class="input-group">
                                <input id="field_dateTo2" type="date" class="form-control" name="dateTo"
                                       [(ngModel)]="experience2.dateTo"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_description">Napomena:</label>
                            <input type="text" class="form-control" name="address" id="field_description"
                                   [(ngModel)]="applicant.description"/>
                        </div>



                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light m-b-10 m-t-10"
                                [disabled]="registerForm.form.invalid"
                                type="submit">Prijavi se
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
