<div class="row" *ngIf="vacancy">
	<div
		class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mail_listing"
		style="border-left: none !important"
	>
		<h2>{{ vacancy.idOrganizationName }}</h2>
		<div class="mt-5">
			<h2>{{ vacancy.name }}</h2>
		</div>
		<hr />
		<div class="col-12" style="padding-left: 16px; margin-top: 10px" [innerHTML]="vacancy.description"></div>
		<!--
		<div class="mt-5">
			{{ vacancy.description }}
		</div>
		-->
		<div class="mt-5">
			<b>Lokacija</b>&nbsp;:&nbsp;<span>{{vacancy.idLocationName ? vacancy.idLocationName : vacancy.idOrganizationName}}</span>
		</div>
		<div class="mt-3">
			<b>Datum objave</b>&nbsp;:&nbsp;<span>{{
				vacancy.dateFrom | date: "dd.MM.yyyy"
			}}</span>
		</div>
		<div class="mt-3">
			<b>Datum isteka</b>&nbsp;:&nbsp;<span>{{
				vacancy.dateTo | date: "dd.MM.yyyy"
			}}</span>
		</div>
	</div>
</div>
<br />
<div class="row" *ngIf="vacancy">
	<div class="col-md-12">
		<ng-container *ngIf="!noAuth; else noAuthApply">
			<ng-container *ngIf="!canApply">
				<div class="row">
					<div class="col-12 text-center">
						<button class="btn btn-success btn-rounded text-center">
							Prijavljeni ste na ovaj oglas
						</button>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="canApply">
				<div class="row">
					<div class="col-12 text-center">
						<h2>Zainteresovani ste?</h2>
						<button
							(click)="apply()"
							class="btn btn-primary btn-rounded text-center"
						>
							Prijavite se na ovaj oglas
						</button>
					</div>
				</div>
			</ng-container>
		</ng-container>
		<ng-template #noAuthApply>
			<div class="row">
				<div class="col-12 text-center">
					<h2>Zainteresovani ste?</h2>
					<button
						(click)="applyNoAuth()"
						class="btn btn-primary btn-rounded text-center"
					>
						Prijavite se na ovaj oglas
					</button>
				</div>
			</div>
		</ng-template>
	</div>
</div>
