<div class="row" *ngIf="vacancy">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mail_listing"
			 style="border-left: none !important">
		<h2>{{vacancy.idOrganizationName}}</h2>
		<div class="mt-5"><h2>{{vacancy.name}}</h2></div>
		<hr />
		<div class="mt-5">
			{{oglasParagraf1}}
		</div>
		<div class="mt-5">
			{{oglasParagraf2}}
		</div>
		<div class="mt-5">
			{{oglasParagraf3}}
		</div>
		<div class="mt-5">
			Lokacija
		</div>
		<div class="mt-5">
			{{vacancy.workPlaceName | uppercase}}
		</div>
		<div class="mt-5">
			{{vacancy.description}}
		</div>
		<div class="mt-5">
			<b>Lokacija</b>&nbsp;:&nbsp;<span>Lokacija</span>
		</div>
		<div class="mt-3">
			<b>Datum objave</b>&nbsp;:&nbsp;<span>{{vacancy.dateFrom | date:'dd.MM.yyyy'}}</span>
		</div>
		<div class="mt-3">
			<b>Datum isteka</b>&nbsp;:&nbsp;<span>{{vacancy.dateTo | date:'dd.MM.yyyy'}}</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button *ngIf="!canApply" class="btn btn-success btn-rounded pull-right">Prijavljen
		</button>
		<button *ngIf="canApply" (click)="apply()"
						class="btn btn-default btn-rounded pull-right">Prijavi se
		</button>
	</div>
</div>
