<div class="row">
  <div class="col-md-12">
    <div class="panel-footer p-b-20 p-t-20">
      <i class="icon-book-open m-r-5 heading-icon-at"></i>
      <span class="heading-at">Iskustvo</span>
      <span class="pull-right">
        <button class="btn btn-success button-position-fix" [routerLink]="[{ outlets: { popup: ['add-experience'] } }]">
          Dodaj <span class="fa fa-plus"></span>
        </button>
    </span>
    </div>
    <app-applicant-experience-item *ngFor="let experience of experiences$ | async"
                                   [experience]="experience"></app-applicant-experience-item>

  </div>
</div>
