<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header" style="height: inherit;">
      <a (click)="toggleLeftSidebarMenu()" class="navbar-toggle hidden-sm hidden-md hidden-lg"
         data-toggle="collapse" data-target=".navbar-collapse">
        <i class="ti-menu"></i>
      </a>
      <div class="top-left-part" [@slideIn]>
        <a class="logo">
          <b>
            <img src="../../../../assets/images/is-logo.png" alt="home" class="dark-logo"/>
          </b>
          <img src="../../../../assets/images/is-logo-text.png" alt="home"
               class="dark-logo d-none d-lg-inline-block"/>
        </a>
      </div>
      <ul class="nav navbar-top-links navbar-left">
        <li>
          <a (click)="toggleLeftSidebarMenu()" class="open-close hidden-xs waves-effect waves-light">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
        <li  class="dropdown" jhiNotifications></li>
      </ul>

    </div>
  </nav>
  <!-- End Top Navigation -->
  <!-- Left navbar-header -->
  <nav id="sidebar" #sidebar [@slideIn]>
    <div class="sidebar-header" id="opts">
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <a class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
            <span>
                            {{username}}
              <span class="caret" ></span>
                        </span>
          </a>
          <ul class="dropdown-menu animated flipInY">
            <li (click)="collapseMenuIfOnPhone()">
              <a routerLink="settings" routerLinkActive="active">
                <i class="fa fa-fw fa-wrench text-dark" aria-hidden="true"></i>
                <span>Postavke</span>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li (click)="collapseMenuIfOnPhone()">
              <a routerLink="password" routerLinkActive="active">
                <i class="fa fa-fw fa-lock text-dark" aria-hidden="true"></i>
                <span>Lozinka</span>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-fw fa-power-off text-dark"></i> <span>Odjavi se</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="list-unstyled components">
      <li routerLinkActive="active" (click)="collapseMenuIfOnPhone()">
        <a [routerLink]="['applicant-profile/' + userId]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <span>Aplikant profil</span>
        </a>
      </li>
      <li routerLinkActive="active" (click)="collapseMenuIfOnPhone()">
        <a [routerLink]="['job-applications']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <span>Prijave na oglase</span>
        </a>
      </li>
      <li routerLinkActive="active" (click)="collapseMenuIfOnPhone()">
        <a [routerLink]="['vacancies']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <span>Oglasi za posao</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
