<section id="wrapper" class="login-register" style="position: absolute; height: 100%; overflow-y:auto">
    <div class="registerBox login-shadow add-transparency">
        <div class="white-box">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Resetuj lozinku</h1>

                    <div class="alert alert-danger"
                         *ngIf="errorEmailNotExists">
                        <strong>Email nije pronađen!</strong>
                    </div>

                    <div class="alert alert-warning" *ngIf="!success">
                        <p>Unesite email adresu koju ste koristili tokom registracije.</p>
                    </div>

                    <div class="alert alert-success" *ngIf="success === 'OK'">
                        <p>Provjerite vaš email račun.</p>
                    </div>

                    <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()"
                          #resetRequestForm="ngForm">
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel"
                                   email required>
                            <div *ngIf="emailInput.dirty && emailInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.required">
                                    Email je potreban.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.email">
                                    Email je nevalidan.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.minlength">
                                    Email mora sadržati bar 5 karaktera.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.maxlength">
                                    Email ne može sadržati više od 50 karaktera.
                                </small>
                            </div>
                        </div>
                        <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Resetuj
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
