<div class="row">
  <div class="col-md-12">
    <div>
      <div class="panel-footer p-b-20 p-t-20">
        <i class="icon-user m-r-5 heading-icon-at"></i>
        <span class="heading-at">Lične informacije</span>
        <span class="pull-right">
          <button type="submit"
                  [routerLink]="[{ outlets: { popup: 'edit-applicant'} }]"
                  queryParamsHandling="merge"
                  class="btn btn-primary btn-sm">
          <span class="fa fa-fw fa-pencil"></span>
          <span class="d-none d-md-inline">Uredi</span>
          </button>
        </span>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <div *ngIf="applicant.name" class="col-md-6">
            <div class="form-group">
              <label class="control-label">Ime</label>&nbsp;:&nbsp;
              <span class="form-control-static">{{applicant.name}}</span>
            </div>
          </div>
					<!-- Hidden because in BiH there are no middle names -->
          <!--<div *ngIf="applicant.middleName" class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label class="control-label">Srednje ime</label>&nbsp;:&nbsp;-->
              <!--<span class="form-control-static">{{applicant.middleName}}</span>-->
            <!--</div>-->
          <!--</div>-->
          <div *ngIf="applicant.surname" class="col-md-6">
            <div class="form-group">
              <label class="control-label">Prezime</label>&nbsp;:&nbsp;
                <span class="form-control-static">{{applicant.surname}}</span>
            </div>
          </div>
          <div *ngIf="applicant.maidenName" class="col-md-6">
            <div class="form-group">
              <label class="control-label">Djevojačko prezime</label>&nbsp;:&nbsp;
              <span class="form-control-static">{{applicant.maidenName}}</span>
            </div>
          </div>
					<!-- Hidden because of gender equality -->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label class="control-label">Spol</label>&nbsp;:&nbsp;-->
                <!--<span *ngIf="applicant.gender === 'Male'-->
                <!--|| applicant.gender === 'M'-->
                <!--||  applicant.gender === 'm'-->
                <!--||  applicant.gender === 'male'"-->
                   <!--class="form-control-static">-->
                  <!--<span>Muško</span>&nbsp;<i class="fa fa-mars"></i>-->
                <!--</span>-->
                <!--<span *ngIf="applicant.gender === 'Female'-->
                <!--|| applicant.gender === 'F'-->
                <!--|| applicant.gender==='f'-->
                <!--|| applicant.gender === 'female'"-->
                   <!--class="form-control-static">-->
                  <!--<span>Žensko</span>&nbsp;<i class="fa fa-venus"></i>-->
                <!--</span>-->
                <!--<span-->
                  <!--*ngIf="applicant.gender !== 'Male'-->
                  <!--&& applicant.gender !== 'M'-->
                  <!--&& applicant.gender !== 'm'-->
                  <!--&& applicant.gender !== 'male'-->
                  <!--&& applicant.gender !== 'Female'-->
                  <!--&& applicant.gender !== 'F'-->
                  <!--&& applicant.gender !== 'f'-->
                  <!--&& applicant.gender !== 'female'"-->
                  <!--class="form-control-static">-->
                  <!--<span>Nepoznat</span>-->
                <!--</span>-->
            <!--</div>-->

          <!--</div>-->
          <div *ngIf="applicant.birthdate" class="col-md-6">
            <div class="form-group">
              <label class="control-label">Rođendan</label>&nbsp;:&nbsp;
              <span class="form-control-static">{{applicant.birthdate | date}}</span>
            </div>
          </div>
					<!-- Hidden due to privacy -->
          <!--<div *ngIf="applicant.materialStatus" class="col-md-6">-->
            <!--<app-marital-status-display [maritalStatus]="applicant.materialStatus"-->
                                        <!--[gender]="applicant.gender"></app-marital-status-display>-->
          <!--</div>-->
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-md-12">
          <span class="pl-2 heading-at font-weight-bold">Adresa</span>
          <div class="col-md-12 mt-4">
            <div *ngIf="applicant.address" class="col-md-6">
              <div class="form-group">
                <span class="form-control-static">{{applicant.address}}</span>
              </div>
            </div>
            <div *ngIf="applicant.idCityName" class="col-md-6">
              <div class="form-group">
                <span class="form-control-static">{{applicant.idCityName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-md-12">
          <span class="pl-2 heading-at font-weight-bold">Stručna sprema i status zaposlenja</span>
          <div class="col-md-12 mt-4">
            <div *ngIf="applicant.idQualifcation" class="col-md-6">
              <div class="form-group">
                <label class="control-label">Stručna sprema&nbsp;:&nbsp;</label>
                <span
                  class="form-control-static">{{applicant.idQualificationName}}</span>
              </div>
            </div>
            <div *ngIf="applicant.industry" class="col-md-6">
              <div class="form-group">
                <label class="control-label">Industrija</label>&nbsp;:&nbsp;
                <span class="form-control-static">{{applicant?.industry}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Trenutno zaposlen</label>&nbsp;:&nbsp;
                <span
                  class="form-control-static">{{applicant?.employed === 'Y' ? 'Da' : 'Ne'}}</span>
              </div>
            </div>
            <div *ngIf="applicant.employementPosition" class="col-md-6">
              <div class="form-group">
                <label class="control-label">Pozicija zaposlenja</label>&nbsp;:&nbsp;
                <span class="form-control-static">{{applicant?.employementPosition}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
