<app-generic-modal #modal [title]="'Dodaj iskustvo'">
    <modal-content>

    </modal-content>
    <modal-buttons>
        <!--<div class="modal-footer">-->
        <!--<button type="submit" class="btn btn-success" [disabled]="!vacancyForm.valid || isSaving" (click)="save()">-->
        <!--<span class="fa fa-fw fa-check"></span>&nbsp;-->
        <!--&lt;!&ndash;TODO translate&ndash;&gt;-->
        <!--<span>Spremi</span>-->
        <!--</button>-->
        <!--</div>-->
    </modal-buttons>
</app-generic-modal>
