<div class="row">
  <div class="col-md-12">
    <div class="panel-footer p-b-20 p-t-20">
      <i class="fa fa-phone-square m-r-5 heading-icon-at"></i>
      <span class="heading-at">Kontakti</span>
      <div class="pull-right">
        <!--TODO add butotn-->
        <!--<jhi-add-button class="float-right button-position-fix"-->
        <!--[routerLink]="[{ outlets: { popup: ['at-applicants-contacts-new', applicant.id] } }]"></jhi-add-button>-->
      </div>
    </div>
    <app-applicant-contacts-item *ngFor="let contact of items$ | async" [contact]="contact"></app-applicant-contacts-item>
  </div>
</div>
