<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Lozinka za [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Lozinka promjenjena!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Dogodila se greška!</strong> Lozinku nije promjenjena
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Lozinka i potvrda lozinke se ne slažu
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Nova lozinka</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                           [(ngModel)]="password" minlength=8 maxlength=50  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                            Lozinka je potrebna.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                            Lozinka mora sadržati bar 8 karaktera.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                            Lozinka ne može sadržati više od 50 karaktera.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordInput.errors.pattern">
                            Lozinka treba sadržati bar 1 veliko slovo, 1 malo slovo, 1 specijalni karakter, 1 broj
                        </small>
                    </div>
                    <app-password-strength-bar [passwordToCheck]="password"></app-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Potvrda lozinke</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                           [(ngModel)]="confirmPassword" minlength=8 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                            Potvrda lozinke je potrebna.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                            Potvrda lozinke mora sadržati bar 8 karaktera.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                            Potvrda lozinke ne može sadržati više od 50 karaktera.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Spasi</button>
            </form>
        </div>
    </div>
</div>
